body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 212, 247);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.total-billperperson::before,
.billamount::before {
    content: '$';
    padding: 5px;
}

h1 {
    text-transform: uppercase;
    color: aliceblue;
    text-align: center;
    background-color: rgb(73, 39, 104);
    width: auto;
    border-radius: 15px;
    box-shadow: inset -8px 0px 8px rgb(0, 0, 0, 0.15),
    inset -8px 0px 8px rgb(0, 0, 0, 0.25),
    0 0 0 0 rgb(0, 0, 0, 0.75),
    5px 10px 20px rgb(0, 0, 0, 0.4);
    padding: 15px;
    margin: 0;
}

.cal-body{
    background-color: rgb(47, 18, 74);
    padding: 15px;
    width: auto;
    margin: 0;
    border-radius: 15px;
    box-shadow: inset -8px 0px 8px rgb(0, 0, 0, 0.25),
    inset -8px 0px 8px rgb(0, 0, 0, 0.25),
    0 0 0 0 rgb(0, 0, 0, 0.75),
    5px 10px 20px rgb(0, 0, 0, 0.4);
    z-index: -4;
}

p {
    font-size: .8rem;
    color: lightgray;
}

input {
    width: 95%;
    border: none;
    border-radius: 8px;
    padding: 5px 5px 5px 10px;
    background-color: aliceblue;
}

button {
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    width: 22px;
    height: 22px;
    background-color: aliceblue;
}

button:hover{
    background-color: rgb(247, 212, 247);
}

.total-billperperson {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

#numberofperson {
    font-size: 1rem;
    font-weight: bolder;
    color: white;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nonegative {
    
    display: flex;
    text-align: center;
    transition: .5s;
    font-weight: bold;
}

#nonegative p {
    color:  black;
}

.zindex {
    background-color: rgb(53, 25, 53);
    border: 2px dashed rgb(247, 212, 247);
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    color: #fff;
    width: auto ;
    height: auto;
    transform: scale(1.2);
}